<component name="ArtifactManager">
  <artifact type="exploded-war" build-on-make="true" name="springmvc-01:war exploded">
    <output-path>$PROJECT_DIR$/../../tomcat/apache-tomcat-9.0.34/webapps/springmvc-01</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc-01" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="commons-logging-1.2 (2)" />
          <element id="library" level="project" name="lombok-1.18.24" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springmvc-01/web/Web" />
    </root>
  </artifact>
</component>